<layout-header></layout-header>
<mat-tab-group>
    <mat-tab label="Welcome">
      <h1>Welcome to Roux Ranch!</h1>
      <p>Located in Eastern Oregon</p>
    </mat-tab>
    <mat-tab label="Our Dogs">
      <h1>Our Adult Dogs</h1>
      <p>Twitter</p>
      <p>Nelson</p>
      <p>Kashi</p>
      <p>Other Dog</p>
    </mat-tab>
    <mat-tab label="Available Puppies">
        <h1>Our current litter</h1>
        <p>No puppies Available</p>
    </mat-tab>
    <mat-tab label="About Us">
    </mat-tab>
</mat-tab-group>
<layout-footer></layout-footer>