<layout-header></layout-header>
<mat-tab-group>
    <mat-tab label="Home">
      <h1>Home</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab label="Professional">
      <h1>Professional</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab label="Hobby">
        <h1>Hobby</h1>
        <p>...</p>
    </mat-tab>
    <mat-tab label="Links">
        <h1>Links</h1>
        <p>...</p>
    </mat-tab>
  </mat-tab-group>
<div ng-init="myVar = '/assets/alex1.jpg'">
    <h1>Angular</h1>
    <img  src="./assets/images/alex2.jpg"/>
</div> 

<layout-footer></layout-footer>